Repository takumin/bun-langchainjs-playground: changes, and which lefthook commands are due for each by the changed paths.
All: biome, yamlfmt

biome:
  run: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

yamlfmt:
  run: yamlfmt -gitignore_excludes -no_global_conf {staged_files}
  stage_fixed: true

feat: add taplo formatting and linting support
  aqua.yaml
  lefthook.yml
  taplo.toml
Due: yamlfmt

chore(lefthook): update yamlfmt command with config flag
  lefthook.yml
Due: yamlfmt

chore(lefthook): remove gitignore_excludes from config
  lefthook.yml
  yamlfmt.yml
Due: yamlfmt

chore: update biome config and lefthook commands
  biome.json
  lefthook.yml
Due: biome, yamlfmt

chore: add .editorconfig for consistent coding style
  .editorconfig
Due: none

chore: update dependencies and remove unused packages
  bun.lockb
  package.json
  src/index.ts
Due: biome

chore: remove node_modules exclusion from yamlfmt config
  yamlfmt.yml
Due: yamlfmt

feat: add chat model translation functionality
  src/index.ts
Due: biome

refactor: wrap invocation in main function
  src/index.ts
Due: biome

refactor: restructure chat model initialization
  src/index.ts
Due: biome

style(editorconfig): change indent style from space to tab
  .editorconfig
Due: none

build: update dependencies in package and lock files
  bun.lockb
  package.json
Due: biome

build(aqua.yaml): update dependencies to latest versions
  aqua.yaml
Due: yamlfmt

build: update dependencies and lockfile versions
  bun.lockb
  package.json
Due: biome

build(aqua.yaml): update dependencies in aqua.yaml file
  aqua.yaml
Due: yamlfmt

chore(lefthook): update commands to check all files
  lefthook.yml
Due: yamlfmt

chore: update .editorconfig and remove bun.lockb file
  .editorconfig
  bun.lock
  bun.lockb
Due: none

chore: update package versions in aqua.yaml
  aqua.yaml
Due: yamlfmt

chore: update @types/bun to version 1.2.5
  bun.lock
  package.json
Due: biome

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  yamlfmt: any of: *.{yml,yaml}
